* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}
body {
    background: rgb(0,207,255);
    background: linear-gradient(160deg, rgba(0,207,255,1) 0%, rgba(79,122,226,1) 32%, rgba(167,167,237,1) 76%); 
}


main, header {
    margin: 30px;
}

li {
    list-style: none;
}